.wrapper{
    
    display : flex;
    justify-content: flex-start;
}


.background{
    width : 500px;
    background-color : pink;
    display : flex;
    flex-wrap: wrap;
}

.box{
    width : 100px;
    height : 100px;
    background-color :black;
    margin : 10px;
    display : flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size : 30px;
    color: white;
}

