body{
  margin : 0;
  background-color : white;
  color : #303030;
  position : relative;
  font-size : 90%;
}

button{
  background-color : white;
  border : 1px solid;
  border-radius : 2px;
  cursor: pointer;
}

ul, li, p, h2{
  margin : 0;
  padding : 0;
  text-decoration : none;
  list-style:none;
}

a{
  color : #040404;
  text-decoration : none;
}

header{
  border-bottom : 0.5px solid #f2f2f2;
  padding : 0 15%;
  padding-top : 10px;
  display : flex;
  height : 60px;
  align-items : center;
  justify-content : space-between;
}

.home-logo{
  font-size : 1.55rem;
  font-weight : 600;
}


.nav-item-wrapper{
  display : flex;
}

.nav-item-wrapper > .nav-item{
  margin-left : 22px;
}

main{
  display : flex;
  flex-direction : column;
  align-items : center;

}

.shop-title{
  font-size : 1.35rem;
  margin : 50px;
}

.post-item-box{
  display : flex;
  flex-wrap : wrap;
  margin-left : auto;
  margin-right : auto;
  width : 80%;
}


.post-item{
  width : 15.9%;
  height : 300px;
  margin: 4.2px;
  display : flex;
  flex-direction : column;
  align-items : center;
  position : relative;
}

.post-img{
  width : 100%;
  height : 170px;
  background-color : #f2f2f2;
}

.post-title, .post-price{
  margin-top : 15px;
  color : #505050;
}



a.new{
  position : fixed;
  bottom : 45px;
  right : 140px;
  border : 1px solid;
  padding : 10px;
  width : 100px;
  background-color : white;
  text-align : center;
  box-shadow: 3px 3px 3px gray;
}


/* detail */

.detail-top {
  background-color : white;
  display : flex;
  margin-top : 100px;
} 

.detail-post-img{
  width : 200px;
  height : 200px;
}

.detail-content-box{

  padding : 0px 40px;
  width : 300px;
 
}

.detail-post-title{
  font-size : 1.4rem;
}

.detail-post-content{
  margin : 15px 0;
}


.like-button, .wish-button{
  padding : 5px;
  width : 49%;
  height : 45px;
  margin-top : 10px;
}


.button-wrapper{
  position : relative;
  top : 10px;
  left : 195px;
  font-size : 0.8rem;
  color : #505050;
}

.edit-button{
  margin-right : 8px;
}

.comment-form{
  width : 400px;
  margin-top : 70px;
  padding : 50px;
}

.comment-input{
  width : 100%;
  height : 80px;
  padding-left : 10px;
  border : 0.5px solid #959595;
}

.new-comment-button{
  height : 35px;
  width : 85px;
  border : 0.5px solid #959595;
  color : #707070;
  position : relative;
  left : 330px;
  top : 10px;
  margin-bottom : 20px;
}

.comment-item{
  display : flex;
  position : relative;
  left : 5px;
  width : 390px;
  border : 0.5px solid #959595;
  align-items : center;
  margin-bottom : 12px;
  padding : 10px;
}

.comment-content{
  width : 100%;
  background-color : white;
  height : 30px;
  font-size: 0.8rem;
 color : #505050;
  display : flex;
  align-items : center;
}

.comment-delete-button{
  font-size : 1.1rem;
  color : #d36e6e;
}

.red{
  color : #dd2727;
}

.blue{
  color : #007fff;
}


.comment-item-box{
  position : relative;
  bottom : 30px;
}


/* 마이페이지 */

.mypage-box{
  width : 60%;
  margin : 70px;
}

.like-list-title, .wish-list-title{
  font-size : 1.05rem;
  font-weight : 500;
}

.like-list-box, .wish-list-box{
  margin-top : 10px;
  margin-bottom : 45px;
  height : 150px;
  overflow-x : scroll; 
  white-space: nowrap;
}


.like-item, .wish-item{
  display: inline-block;
  background-color : white;
  width : 145px;
  height : 145px;
  margin-right : 10px;
}


/* new */

.new-input-box{
  width : 350px;
  margin : 130px auto;
  display : flex;
  flex-direction: column;
}

.new-input-box > *{
  height : 32px;
  margin-bottom : 10px;
}
.new-input-content{
  height : 100px;
}

.price-img-wrapper{
  display : flex;
  justify-content : space-between;
}

.price-img-wrapper > *{
  height : 32px;
  width : 47%;
}

.new-submit-button{
  margin-top : 10px;
  height : 48px;
  font-size : 0.9rem;
  background-color : #f2f2f2;
}