{% extends 'base.html' %}
{% block content %}
  <div>
    <ul>좋아요 목록
        {% for like_post in like_posts %}
      <li>
        <a href="{% url 'detail' like_post.pk %}">{{ like_post.title }}</a> 
      </li>
        {% endfor %}
    </ul>
     <ul>찜한 목록
        {% for wish_post in wish_posts %}
      <li>
        <a href="{% url 'detail' wish_post.pk %}">{{ wish_post.title }}</a> 
      </li>
        {% endfor %}
    </ul>
  </div>
  <a href="{% url 'new' %}">글 쓰러가기</a>
{% endblock content %}