<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    {% load socialaccount %}
    {% providers_media_js %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>TO-DO-LIST</title>
</head>

<body>
    <header>
        <div class="register_items">
              {% if user.is_authenticated %}
            <div class="hello_user">안녕하세요, {{ user.username }}님</div>
             <a class="logout" href="{% url 'logout' %}">로그아웃</a>
             {% else %}
              <a class="login" href="{% url 'login' %}">로그인</a>
              <a class="signup" href="{% url 'signup' %}">회원가입</a>
             {% endif %}
        </div>
        <a class="new_button" href="{% url 'new' %}"><span class="material-icons">add_circle</span><span>TODO 작성</span></a>
    </header>
    <article>
        <nav>
            <a href="{% url 'home' %}"><span class="material-icons">home</span></a>
            <a href="{% url 'personal' %}"><span class="material-icons">face</span></a>
            <a href="{% url 'work' %}"><span class="material-icons">create</span></a>
            <a href="{% url 'likelion' %}"> <span class="material-icons">pets</span></a>
            <a href="{% url 'done' %}"> <span class="material-icons">check_circle</span></a>
        </nav>
        {% block main %} {% endblock main %}
    </article>
</body>

</html>