{% extends 'based.html' %} {% block content %}
<div class="main">
    <div class="detail_box">
        <h2 class="detail_title">{{task.title}}</h2>
        <p class="detail_deadline">{{task.deadline}} 까지</p>
        <div class="datail_content_wrapper">
          <p class="detail_content">{{task.content}}</p>
          <div class="detail_img_wrapper">
            <img class="detail_img" src="{{ post.img }}" alt="img">
            <p class="detail_img_description">{{ post.description }}</p>
          </div>
        </div>
        <div class="button_wrapper">
            <a class="back_button" href="{% url 'home' %}">HOME</a>
            {% if user.is_authenticated and post.author.pk == user.pk %}
            <a class="edit_button" href="{% url 'edit' task.pk %}">수정하기</a>
            <a class="delete_button" href="{% url 'delete' task.pk %}">삭제하기</a>
            {% endif %}
        </div>
    </div>
    <div class="comment_box">
        <div class="comment_wrapper">
            {% for comment in task.comments.all %}
            <div class="comment_item">
                <strong class="comment_user">{{comment.author}}</strong>
                <p class="comment_content">{{comment.content}}</p>
                {% if user.is_authenticated and comment.author.pk == user.pk %}
                <a class="delete_comment_button" href="{% url 'delete_comment' task.pk comment.pk %}">x</a>
                {% endif %}
            </div>
            {% endfor %}

        </div>

        {% if user.is_authenticated %}
        <form class="comment_input" method="POST">
            {% csrf_token %}
            <input type="text" class="comment_main" name="content" placeholder="댓글 내용을 입력하세요" max_length="25" required>
            <div class="comment_submit">
                <input type="text" class="input_user" name="user" placeholder="ID를 입력하세요" max_length="20" required>
                <button class="comment_submit_button">댓글달기</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}