{% extends 'base.html' %} {% block main %}
<div class="main">
    <div href="" class="task_category">
        <h1>DONE</h1>
        <p>마감기한이 지났거나, 이미 한 일들</p>
    </div>
    <div class="task_wrapper">
        {% for task in done_tasks %}
        <a class="task_box" href="{% url 'detail' task.pk %}">
            <div class="d-day">
                <h1>D{{task.d_day}}</h1>
            </div>
            <h2 class="task_title">{{task.title}}</h2>
            <p class="status">다 했어요</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock main %}