{% extends 'based.html' %} {% block content %}
<div class="main">
    <form method="POST">
        <div class="input_box">
            {% csrf_token %}
            <div class="top_wrapper">
                <select class="category" name="category">
                         <option value="personal">personal</option>
                         <option value="work">work</option>
                         <option value="likelion">likelion</option>
                     </select>
                <textarea class="title" name="title" maxlength="9" style="padding-top : 9px;" required>{{task.title}}</textarea>
                <input class="deadline" name="deadline" type="date" required>
            </div>
            <textarea class="content" name="content" style="padding-top : 10px;">{{task.content}}</textarea>
            <div class="button_wrapper">
                <a class="back_button" href="{% url 'home' %}">HOME</a>
                <button class="submit_button" type="submit">수정하기</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}