{% extends 'base.html' %} {% block main %}
<div class="main">
    <div href="" class="task_category">
        <h1>LIKELION</h1>
        <p>멋쟁이 사자처럼</p>
    </div>
    <div class="task_wrapper">
        {% for task in likelion_tasks %}
        <a class="task_box" href="{% url 'detail' task.pk %}">
            <div class="d-day">
                <h1>D{{task.d_day}}</h1>
            </div>
            <h2 class="task_title">{{task.title}}</h2>
            {% if task.d_day == "-0" %}
            <p class="status">오늘이에요!</p>
            {% elif task.d_day == "-1" or task.d_day == "-2" or task.d_day == "-3" %}
            <p class="status">마감일이 다가와요!</p>
            {% elif task.d_day == "-4" or task.d_day == "-5" or task.d_day == "-6" or task.d_day == "-7" %}
            <p class="status">슬슬 준비해요</p>
            {% else%}
            <p class="status">잊지마세요</p>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock main %}