body {
    background: linear-gradient( to right, #D26BE0, #A9DCFF);
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
a,
p {
    margin: 0;
    padding: 0;
    color: #303030;
    text-decoration: none;
}

input {
    border: 0.5px lightgray solid;
    padding-left: 15px;
    font-size: 0.95rem;
}

.login_box,
.signup_box {
    margin-top: 100px;
    background-color: white;
    padding: 20px 0px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 320px;
    text-align: center;
}

.login_title,
.signup_title {
    margin-bottom: 27px;
}

.login_wrapper,
.signup_wrapper {
    width: 87%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login_wrapper>* {
    width: 100%;
    height: 43px;
    box-sizing: border-box;
    display: block;
}

.signup_wrapper>* {
    width: 100%;
    height: 43px;
    box-sizing: border-box;
    display: block;
}

.button_box,
.signup_button {
    display: inline-block;
    width: 100%;
    height: 45px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 500;
}

.button_box,
.signup_button {
    justify-content: space-between;
    margin-top: 15px;
}

.button_box>* {
    width: 49%;
    height: 45px;
    border: none;
}

.signup_button {
    background: linear-gradient( to right, steelblue, purple);
    color: white;
    font-size: 1.05rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_button {
    background: linear-gradient( to right, steelblue, purple);
    color: white;
    font-size: 1.05rem;
    font-weight: 500;
}

.social_login {
    background-color: white;
    color: gray;
    font-size: 0.85rem;
    border: 0.5px lightgray solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_ask {
    font-size: 0.8rem;
    color: gray;
}

.error_message {
    font-size: 0.6rem;
    float: left;
    position: relative;
    left: 30px;
    bottom: 5px;
}