body {
    background: linear-gradient( to right, #D26BE0, #A9DCFF);
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: #303030;
}

h1,
h2,
a,
p {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    width: 100%;
    height: 85px;
    border-bottom: 1px lightgrey solid;
    display: flex;
    align-items: center;
    position: relative;
}

.register_items {
    background-color: white;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 320px;
    top: 25px;
}

.register_items>* {
    margin-left: 10px;
    font-size: 0.8rem;
    color: #303030;
}

.signup,
.logout {
    border-left: 1px gray solid;
    padding-left: 10px;
}

.new_button {
    position: absolute;
    right: 165px;
    background-color: black;
    color: white;
    width: 130px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50px;
    font-size: 0.95rem;
    padding-bottom: 3px;
    box-sizing: border-box;
}

.new_button>.material-icons {
    position: relative;
    right: 5px;
    font-size: 25px;
}

article {
    width: 78%;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

nav {
    background: linear-gradient( to top, steelblue, purple);
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
}

nav .material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 36px;
}


/* main */

.main {
    background: linear-gradient( to right, #e3b6ef, #d3e9ff);
    width: 93%;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

.task_category {
    display: inline-block;
    margin-bottom: 25px;
    color: black;
}

.task_category h1 {
    margin-bottom: 2px;
    font-size: 1.8rem;
}

.task_category p {
    font-size: 0.95rem;
}

.task_wrapper {
    width: 100%;
    height: 320px;
    overflow: scroll;
    box-sizing: border-box;
    white-space: nowrap;
}

.task_box {
    background-color: white;
    display: inline-block;
    width: 180px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;
    margin-right: 15px;
}

.d-day {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 125px;
    height: 125px;
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: double 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #D26BE0, skyblue);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 1.4rem;
    font-weight: 400;
}

.task_title {
    display: inline-block;
    margin-top: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #303030;
    font-size: 1.3rem;
}

.status {
    font-size: 0.9rem;
    color: #303030;
}


/* new, edit */

.input_box {
    width: 80%;
    height: 90%;
    margin-left: 55px;
    margin-top: 40px;
}

.top_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title,
.deadline,
.content,
.category {
    padding-left: 10px;
    box-sizing: border-box;
    border: none;
    font-size: 0.9rem;
    color: #303030;
}

.category {
    width: 16%;
    height: 35px;
}

.title {
    width: 60%;
    height: 35px;
    font-weight: 600;
}

.deadline {
    width: 22%;
    height: 35px;
}

.content {
    width: 100%;
    height: 260px;
    margin: 10px 0px;
    font-size: 0.85rem;
}

.button_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.submit_button,
.back_button,
.edit_button,
.delete_button {
    width: 95px;
    height: 40px;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 3px;
}

.back_button {
    background-color: #E1B9EF;
}


/* detail */

.detail_box {
    width: 58%;
    height: 60%;
    margin: 20px;
    padding: 20px;
}

.detail_content,
.detail_deadline,
.detail_content {
    color: #303030;
}

.detail_content {
    margin: 20px 3px;
    width: 100%;
    height: 180px;
    white-space: pre-wrap;
    overflow: scroll;
    font-size: 0.85rem;
}

.detail_deadline {
    border-bottom: 1px #303030 solid;
    margin-bottom: 5px;
    font-size: 0.8rem;
}


/* comment */

.comment_box {
    position: absolute;
    float: right;
    right: 60px;
    top: 85px;
    width: 25%;
    height: 65%;
}

.comment_wrapper {
    width: 100%;
    height: 75%;
    overflow: scroll;
    display: inline-block;
}

.comment_item {
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 52px;
    margin-top: 10px;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
    color: #303030;
    box-shadow: 2px 2px 3px;
}

.delete_comment_button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.comment_input {
    background-color: white;
    opacity: 83%;
    width: 98%;
    height: 25%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px black solid;
    position: relative;
    left: 5px;
}

.comment_main {
    width: 99%;
    height: 62%;
    border: none;
    padding: 8px;
    box-sizing: border-box;
}

.comment_submit {
    display: inline-block;
    width: 100%;
    height: 38%;
    box-sizing: border-box;
    border-top: 1px black solid;
}

.input_user {
    width: 72%;
    height: 80%;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.comment_submit_button {
    float: right;
    border: none;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px black solid;
    cursor: pointer;
}