html{
  font-size: 62.5%;
  color : #282828;
}

body{
  margin : 0;
  background-color:#FAFAFA;
}

header{
    width : 100%;
    position : fixed;
    z-index : 100;
    border-bottom : 1px solid #DEDEDE;
    background-color : white;
  }


    #nav{
    margin-left:auto;
    margin-right:auto;
    width : 100%;
    height : 53px;
    display : flex;
    justify-content:space-between;
    align-items:center;

}
  .nav_content{
    padding-left : 15px;
    padding-right : 15px;
    width : 50%;
    display : flex;
    align-items:center;
  }


  .icons{
    justify-content:flex-end;
    flex-wrap : nowrap;
  }

  .material-icons{
    font-size : 2.5rem;
    width : 39px;
  }

  .검색{
    display : none;
  }

  .search{
    text-align:center;
    width : 160px;
    display : inline-block;
    padding : 5px;
    font-size : 1.3rem;
    -webkit-appearance:textfield;
    border-radius : 5%;
    background-color : #FAFAFA;
    box-shadow: none;
    border: 1px solid #d1d1d1; 
  }


.profile{
  border : 1px solid;
  width : 25px;
  height : 25px;
  border-radius : 50%;
  padding: 1px;

}

.mini{
  width : 23px;
  height : 23px;
  border : none;
}

.main{
  position : relative;
  top:60px;
  margin-left:auto;
  margin-right:auto;
  width : 100%;
}


.introduce_box{
  width : 100%;
  height : 130px;
  display : flex;
  padding-top : 7px;
}


.profile_box{
  width : 95px;
  padding-left : 3.5%;
  display : flex;
  align-items:center;
}


.profile_picture{
  width : 90px;
  border-radius : 50%;
}



.description_box{
  width : 310px;
  padding-top: 27px;
  padding-left : 25px;
  padding-right : 15px;
  box-sizing : border-box;
}

.description_item{
  white-space : nowrap;
}

.description_content{
  font-size: 1.6rem;
  display : flex;
  align-items:center;
}

.hello_bozo{
  font-size:2.75rem;
}

.프로필편집, .프로필편집2{
  white-space : nowrap;
  border : 1px solid #d1d1d1;
  border-radius : 6%;
  padding : 6px 10px;
  display : flex;
  justify-content : center;
  align-content : center;
  font-weight : 600;
  font-size : 1.4rem;
}
  
.프로필편집{
  display : none;
}


.top > span{
  margin-right : 15px;
  margin-bottom : 10px;
}

.top_info{
  display : none;
}

.last{
  display : none;
}

.bottom_description{
  padding-left : 16px;
  margin-bottom : 17px;
  line-height : 140%;
  font-size : 1.4rem;
  display : flex;
  height : 45px;
  align-items : center; 
}




.highlight_box{
  height : 110px;
  display : flex;
  flex-wrap : nowrap;
  align-items:center;
  padding-left : 13px;
  box-sizing : border-box;
  white-space : nowrap;
}



.highlight_content{
  border : 1px solid #D4D4D4;
  width : 60px;
  height : 60px;
  border-radius : 50%;
  display : flex;
  align-items:center;
  justify-content : center;
}

.highlight_picture{
  width : 56px;
  height : 56px;
  border-radius : 50%;
  background-size : cover;
  background-position : center center;
}


.bottom_info{
  border-top : 1px solid #d1d1d1;
  padding : 12px 0px 3px 0px;
  font-size : 1.5rem;
  display : flex;
  align-items:center;
  justify-content : space-around;
  text-align : center;
}

.bottom_info_text{
  color : #939393;
  font-size : 1.4rem;
}



.hpic1{
background-image : url('./hpic1.jpeg');
}
.hpic2{
background-image : url('./hpic2.jpg')
}
.highlight_wrapper{
  margin-right : 15px;
  text-align : center;
}

.highlight_wrapper > p{
  font-size : 1.2rem;
  position : relative;
  bottom : 5px;
  font-weight : 400;
}



hr{
  opacity : 35%;
}


.option_box{
  margin-left:auto;
  margin-right:auto;
  width : 80%;
  height : 41px;
  padding-bottom : 5px;
  display : flex;
  align-items:center;
  justify-content : space-between;
}

.option_item > .material-icons{
 font-size : 3.1rem;
 color : #ADADAD;
}

.option_box > .option_item > .grid_on{
  color : #0295f6;
}

.option_box > .option_item > .게시물, .IGTV, .저장됨, .태그됨{
  display: none;
}




.picture_content{
  width : 100%;
  display : flex;
  flex-wrap : wrap;
  justify-content : space-between;
  padding-bottom : 1%;
}
.picture_box > div:last-child{
  justify-content : flex-start;
}
.picture_box > div:last-child > div:nth-child(2){
  margin-left : 1%;
}
.picture_box > div:last-child > div:nth-child(3){
  margin-left : 1%;
}
.picture_item{
  width : 32.7%;
  padding-bottom : 32.7%;
  background-size : cover;
  background-position : center center;
}


.pic1{
  background-image : url("./pic1.jpeg");
}
.pic2{
  background-image : url("./pic2.jpeg");
}
.pic3{
  background-image : url("./pic3.jpg");
}
.pic4{
  background-image : url("./pic4.jpeg");
}
.pic5{
  background-image : url("./pic5.jpg");
}
.pic6{
  background-image : url("./pic6.jpeg");
}
.pic7{
  background-image : url("./pic7.jpeg");
}
.pic8{
  background-image : url("./pic8.jpg");
}


footer{
  margin-left:auto;
  margin-right:auto;
  position : relative;
  top: 70px;
  width : 85%;
  display : block;
  height : 100px;
  text-align : center;
}

footer > span{
  white-space : nowrap;
  margin : 13px 6px;
  font-size : 1.21rem;
  color : #004078;
  font-weight : 600;
  line-height : 20px;
}

.copyright{
  display : block;
  color : #8E8E8E;
  font-weight : 600;
}






/* !!!!!425!!!!!! */
/* !!!!!425!!!!!! */

@media(min-width:426px){
 
  #nav{
     width : 92%;
  }
  .nav_content{
    width : 40%;
    padding : 0px;
  }

  .search{
    width : 210px;
  }
  
  .검색{
    width : 50%;
    display : flex;
    align-items:center;
    justify-content: center; 
  }
  
  .material-icons{
    width : 39px;
  }  
  
  .profile{
    width : 25px;
    height : 25px;
    padding : 1px;
  }
  
  .mini{
    width : 23px;
    height : 23px;
  }
  
  
  .main{
    position : relative;
    top:60px;
    margin-left:auto;
    margin-right:auto;
    width : 95%;
  }
  
  
  .introduce_box{
    height : 190px;
    padding-top : 13px;
  }
  
  .profile_box{
  width : 206px;
}
  
  .profile_picture{
    width : 75%;
    min-width : 120px;
  }

  .description_box{
    width : 280px;
    padding : 30px 0px 0px 10px;
  }
  
.프로필편집{
  display : inline-block;
}
  
 .프로필편집2{
    display : none;
}
  
  .top > span{
  margin-right : 15px;
  margin-bottom : 18px;
}

  
  .top_info{
  display : flex;
  justify-content: space-between;
  padding-right : 5px;
}
  
  .bottom_description{
  display : none;
  }
  
  .last{
    display : flex;
    padding-top : 5px;
}
  .last > p{
    line-height : 140%;
  }
  
  .bottom_info{
    display : none;
  }
  
  .highlight_box{
    height : 180px;
    padding-left : 40px;
  }

  .highlight_content{
    width : 80px;
    height : 80px;
  }

  .highlight_picture{
    width : 74px;
    height : 74px;
  }

  .highlight_wrapper{
    margin-right : 45px;
  }

  .highlight_wrapper > p{
    font-size : 1.4rem;
    bottom : 3px;
    font-weight : 500;
  }


  
  .option_box{
    width : 370px;
    margin-bottom : 0px;
  }

   .option_item > .material-icons{
    font-size : 1.7rem;
  }
  
  .option_box > .option_item > .게시물, .IGTV, .저장됨, .태그됨{
    display : inline-block;
    font-size : 1.23rem;
    font-weight : 600;
    right : 16px;
    bottom : 4px;
    color : #ADADAD;
    position : relative;
  }

  .option_box > .클릭함 {
    border-top : 1px solid black;
    position : relative;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .option_box > .클릭함 > .grid_on{
    color : black;
  }
  .option_box > .클릭함 > .게시물{
   color : black;
  }

  .picture_content{
    padding-bottom : 3%;
  }

  .picture_box > div:last-child > div:nth-child(2){
    margin-left : 3%;
  }
  .picture_box > div:last-child > div:nth-child(3){
    margin-left : 3%;
  }
  .picture_item{
  width : 31.5%;
  padding-bottom : 31.5%;
  }

  footer > span{
    font-size : 1.23rem;
  }
}
/* !!!!!425!!!!!! */
/* !!!!!425!!!!!! */








/* !!!!768!!!!! */
/* !!!!768!!!!! */

@media(min-width:769px){
 .main{
   width : 65%;
   }
 #nav{
   width : 65%;
   }
 footer{
   width : 70%;
   text-align : left;
   padding-top : 8px;
   }
 footer>span{
   display : inline-block;
   }
 .copyright{
   float : right;
   } 
}


