<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
      
        {% csrf_token %}
        <input type="text" name="title">
        <input type="file" name="img">
        <button type="submit">업로드</button>
    </form>

    {% for post in posts %}
    <div>
        <h3>{{ post.title }}</h3>
        <img src="{{post.img}}" alt="{{post.title}}">
    </div>
    {% endfor %}
</body>

</html>